@use '../../styles/mixins/'as mixins;
@import '../../styles/variables';

.form {
  // width: clamp(20em, 100%, 30em);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-s;

  textarea {
    height: 10em;
  }
}

.input {
  padding: $spacing-s;
}
